<table>
	<tr>
        <td width="70px">
            <p>Moritz Hildemann</p>
	    </td>
	    <td>
        <br>	
        <a href="{{ url_for('pareto2') }}">Project Y</a>
        <br>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste error beatae inventore eius non perspiciatis minima fugiat quia officiis assumenda nesciunt et deleniti reiciendis, impedit quae. Porro expedita dolorem ratione!
        Expedita quasi harum dolorum rerum eius libero voluptates laboriosam ullam dignissimos, explicabo qui nihil amet, sed hic? Omnis odit odio consequatur recusandae, voluptatibus blanditiis! Voluptate laborum dolorum eaque facilis dolore.
        Possimus nisi blanditiis autem odio ex quibusdam reprehenderit ea accusamus, fugit, placeat vero, necessitatibus minima. Delectus eligendi, provident eveniet sapiente quis expedita fugiat obcaecati assumenda inventore, illum praesentium, reiciendis laborum!
        Assumenda qui dignissimos facilis eos expedita cum pariatur, mollitia dolores exercitationem perspiciatis totam quam quasi unde ipsa, vero maxime. Accusamus, exercitationem quia. Eos aspernatur rem amet dolore dolorum commodi esse?
        Obcaecati tempora quod earum aspernatur similique nisi inventore vero reprehenderit nesciunt laborum soluta veritatis magnam cumque quae, minus doloremque a asperiores eius id numquam consectetur dolores praesentium dolore architecto! Quaerat.</span>
        </td>
	</tr>
</table>