{% extends "base.html" %}

{% block content %}
    <h1 class=centrictext>Welcome to Pareto</h1>
    <p class=centrictext>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci magni, aliquid quasi temporibus deserunt quaerat cupiditate, asperiores accusamus doloremque magnam, exercitationem sit expedita. Eveniet beatae voluptates quisquam blanditiis dicta officiis!
    Error, voluptate. Numquam voluptatibus rem blanditiis nihil? Excepturi totam modi, voluptate itaque distinctio voluptates minima natus maiores, doloremque rerum eos voluptas dolor sunt asperiores, maxime dolores odit laudantium eum. Soluta.
    Id ipsam explicabo consectetur voluptatem, soluta iste labore nihil! Iure eum eligendi vel harum sequi! Consequatur quasi nihil et illum incidunt voluptatibus, praesentium odit assumenda accusantium non, nesciunt nemo asperiores!
    Rem maxime accusamus iure praesentium quisquam a quae molestias, minus delectus, dolore porro aperiam aliquid rerum ipsam dolorem. Quibusdam vitae architecto rem est, nam labore eligendi et corrupti expedita doloribus!
    Fugiat consequatur esse molestiae maxime reiciendis deserunt nostrum adipisci minus ducimus debitis beatae sequi iure, iusto incidunt cumque, eius aliquid praesentium a accusamus culpa soluta possimus ab libero animi. Ratione.</p>
{% endblock %}