{% extends "base.html" %}

{% block content %}
    <h1 class=centrictext> Welcome to the interactive exploration of Pareto fronts </h1>
    <div>
    <p> The goal of this application is to deliver the complex information
        from optimization results with multiple objectives, and especially from optimizations that have a spatial context. </p>
    <p> First, let us define potentially new terms: </p>
    <br>
    <table class=center>
      <tr>
        <th><b>Term</b></th>
        <th><b>Definition</b></th>
      </tr>
      <tr>
        <td><b>Optimization</b></td>  <td> Procedure in which we want to find the optimal solutions to one or several objectives</td>
        </tr>
        <tr>
        <td><b>Objective function</b>   </td>  <td> Function that quantifies the quality of a solution for one objective</td>
        </tr>
        <tr>
            <td><b>Constraints</b></td> <td> Conditions that a solution to an optimization problem must satisfy</td>
         </tr>
         <tr>
          <td><b>Pareto-front</b></td> <td> Frontier that contains all optimal solutions for a problem with conflicting objectives</td>
          </tr>
            <tr>
             <td><b>Spatial configuration</b></td> <td> Solution represented in its spatial context</td>
            </tr>
    </table>
<br>
<p>
    Next, we describe an example problem with two conflicting objectives.<br>
    Imagine you get a new job in a new city and you want to commute to work by bike. <br>
    You just recently got a new bike and don't want to break it, but the bike paths are scattered with pitholes. <br>
    You got a problem: you want to spend as little commuting time as possible, but you also want to avoid the pitholes. <br>
    Luckily you are able to formulize the problem, get the data and perform an optimization. How to decide? <br>
    Let us inspect three different solutions: </p>

<object data="/static/example_pf.svg" type="image/svg+xml" width="1200" height="400"> </object>

<p>
    Now consider more complex problems with more solutions in the Pareto fronts.<br>
    The apps listed on this website describe different problems and provide the opportunity to interactively explore all optimal solutions.
</p>
</div>
{% endblock %}
