{% extends "base.html" %}

{% block content %}
    <h1>Project {{ title }}</h1>
    <h2>Moritz Hildemann</h2>
    <p>{{ problem_description }}</p>
    <br>
    <p>Objectives: </p>
    <table>
    {% for objective in objectives %}
    <tr>
        <td>{{ objective.name }}</td>
        <td>\[{{ objective.mathematical_formulation }}\]</td>
        <td>\[{{ objective.symbols }}\]</td>
    </tr>
    {% endfor %}
    </table>
    <p>Constraints: </p>
    <table>
        {% for constraint in constraints %}
        <tr>
            <td>{{ constraint.name }}</td>
            <td>\[{{ constraint.mathematical_formulation }}\]</td>
            <td>\[{{ constraint.symbols }}\]</td>
        </tr>
        {% endfor %}
        </table>
    <iframe src="/dashapp3/" width="100%" height=1610px scrolling="no"></iframe>
{% endblock %}