{% extends "base.html" %}

{% block content %}
    <h1>Project {{ title }}</h1>
    <h2>Moritz Hildemann</h2>
    <p>{{ problem_description }}</p>
    <br>
    <div style="float: left;">
        <h3>Objectives</h3>
        {% for objective in objectives %}
            <div class="hovertext"> {{ objective.name }}</div>
            <div class="hiddentext"> \[{{ objective.mathematical_formulation }}\] \[{{ objective.symbols }}\]</div>
        {% endfor %}
    </div>
    <div style="float: left;">
        <h3>Constraints</h3>
        {% for constraint in constraints %}
            <div class="hovertext"> {{ constraint.name }}</div>
            <div class="hiddentext"> \[{{ constraint.mathematical_formulation }}\] \[{{ constraint.symbols }}\]</div>
        {% endfor %}
    </div>
    
    <iframe src="/dashapp2/" width="100%" height=1610px scrolling="no"></iframe>
{% endblock %}